<%= form_with model: product do |form| %>
  <% if form.object.errors.any? %>
    <ul class='errors'>
      <li class='error' style='color: red'>
        <%= form.object.errors.full_messages.first %>
      </li>
    </ul>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.rich_textarea :description %>
  </div>

  <div>
    <%= form.label :featured_image, style: "display: block" %>
    <%= form.file_field :featured_image, accept: "image/*" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
